{% extends "base.html" %}

{% block content %}
  <h1>Car list</h1>
  <a href="{% url "taxi:car-create" %}">
    <button style="float: right" class="btn btn-info btn-lg">Add car</button>
  </a>
  <form action="">
    <label>
      <div class="input-group">
        {{ search_form }}
          <button class="btn btn-secondary" type="submit">
            <i>Search</i>
          </button>
      </div>
    </label>
    </form>

  {% if car_list %}
    <table class="table table-striped">
    <tr>
      <th>
        ID
      </th>
      <th>
        Model
      </th>
      <th>
        Manufacturer
      </th>
    </tr>

    {% for car in car_list %}

    <tr>
        <td>
          <a href="{% url "taxi:car-detail" pk=car.id %}">{{ car.id }}</a>
        </td>
        <td>
        {{ car.model }}
        </td>
        <td>
          {{ car.manufacturer }}
        </td>
    </tr>
    {% endfor %}

    </table>
  {% else %}
    <p>There are no cars in taxi</p>
  {% endif %}
{% endblock %}
