{% extends "base.html" %}

{% block content %}
  <h1>
    Username: {{ driver.username }}
  </h1>
  <a href="{% url "taxi:driver-update" pk=driver.id%}">
    <button class="btn btn-info">Update license number</button>
  </a>
    <a href="{% url "taxi:driver-delete" pk=driver.id%}">
      <button class="btn btn-secondary">Delete driver</button>
    </a>

  <br>
  <br>

  <p><strong>First name:</strong> {{ driver.first_name }}</p>
  <p><strong>Last name:</strong> {{ driver.last_name }}</p>
  <p><strong>License number:</strong> {{ driver.license_number }}</p>
  <p><strong>Is staff:</strong> {{ driver.is_staff }}</p>

  <div class="ml-3">
    <h2><strong>Cars</strong></h2>

    {% for car in driver.cars.all %}
        <hr>
        <p><strong>Model:</strong> {{ car.model }}</p>
        <p><strong>Manufacturer:</strong> {{ car.manufacturer.name }}</p>
        <p class="text-muted"><strong>Id:</strong> {{car.id}}</p>

    {% empty %}
      <p>No cars!</p>
    {% endfor %}
  </div>
{% endblock %}
