{% extends "base.html" %}

{% block content %}
    <h1><strong>Manufacturer List
      <a href="{% url "taxi:manufacturer-create" %}">
        <button style="float: right" class="btn btn-info btn-lg">Add manufacturer</button>
      </a>
    </strong></h1>

    {% if manufacturer_list %}
      <table class="table  table-striped">
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Country</th>
          <th></th>
          <th></th>
        </tr>

        {% for manufacturer in manufacturer_list %}
            <tr>
              <td>
                  {{ manufacturer.id }}
              </td>
              <td>
                  {{ manufacturer.name }}
              </td>
              <td>
                  {{ manufacturer.country }}
              </td>
              <td>
                <a href="{% url "taxi:manufacturer-update" pk=manufacturer.id %}">
                  <button class="btn btn-info">UPDATE</button>
                </a>
              </td>
              <td>
                <a href="{% url "taxi:manufacturer-delete" pk=manufacturer.id %}">
                  <button class="btn btn-secondary">DELETE</button>
                </a>
              </td>
            </tr>
        {% endfor %}
      </table>

    {% else %}
        <p>There are no manufacturers in the taxi service.</p>
    {% endif %}
{% endblock %}
