{% extends "base.html"%}

{% block content %}
  <h1><strong>Delete manufacturer</strong></h1>

  <p><i>Are you sure you want to delete manufacturer <strong>{{ manufacturer.name }}</strong>?</i></p>
  <p><i>All cars with this manufacturer will be also deleted!</i></p>

  <form action="" method="post">
    {% csrf_token %}
    <input type="submit" value="Yes, delete" class="btn btn-danger">
    <button type="reset" class="btn btn-secondary" onclick="location.href = {% url "taxi:manufacturer-list" %}">Cancel</button>

  </form>
{% endblock %}
